<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>考试后台管理</title>
    <link href="~/Scripts/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Scripts/css/layout.css" rel="stylesheet" />
    <link href="~/Scripts/elementUI/lib/theme-chalk/index.css" rel="stylesheet" />
    <script src="~/Scripts/Vue/Vue.js"></script>
    <script src="~/Scripts/Vue/axios.js"></script>
    <script src="~/Scripts/elementUI/lib/index.js"></script>
    <script src="~/Scripts/Vue/polyfill.min.js"></script>
    <style>
        #mainbox{
            position:relative;
        }
        #mainbox .menu{
            position:absolute;
            top:50%;
            transform:translateY(-50%);
            right:-18px;
            z-index:10
        }
        #mainbox .menu span {
            display:inline-block;
            width: 18px;
            height:60px;
            line-height:60px;
            text-align:center;
            border:1px solid #ddd;
            font-size:18px;
            color:#fff;
            border-radius: 0 20px 20px 0;
            border-left:0;
            background: #cad2da;
            cursor:pointer;
        }
            #mainbox .menu span:hover {
                background: #6e93b7
            }
    </style>
</head>
<body>

    <div>
        <div class="boxWrap">
            <div style="display:flex;flex-direction:column;height:100vh">
                <div id="headerid" v-cloak style="z-index:100">
                    <el-header>
                        <div class="nav-left">
                            <div class="brand">
                                <img src="~/Images/logo.png" />
                            </div>
                            <div class="plat-info">HR 考试平台</div>
                            
                        </div>
                        <div class="nav-right">
                            <ul>
                                <li class="user-info">
                                    <el-dropdown>
                                        <span class="el-dropdown-link">
                                            {{admin}}<i class="el-icon-arrow-down el-icon--right"></i>
                                        </span>
                                        <el-dropdown-menu slot="dropdown">
                                            <el-dropdown-item disabled>hi,{{admin}}</el-dropdown-item>
                                            @*<el-dropdown-item>个人中心</el-dropdown-item>*@                                            
                                            <a href="@Url.Action("Login","Account")">
                                                <el-dropdown-item divided>退出</el-dropdown-item>
                                            </a>
                                        </el-dropdown-menu>
                                    </el-dropdown>
                                </li>
                            </ul>
                        </div>
                    </el-header>
                </div>
                
                <div style="display:flex;flex:1" class="nextWrap">
                    <div id="mainbox"  v-cloak>
                        <div class="menu" @@click="toggleColl">
                            <span >
                                <i :class="isCollapse?'el-icon-arrow-right':'el-icon-arrow-left'"></i>
                            </span>
                            @*<el-button type="primary" :plain="isCollapse" @@click="toggleColl">
                                <i class="fa fa-bars" ></i>
                            </el-button>*@
                        </div>
                        <el-aside width="auto" style="height:100%">
                            <el-menu default-active="1"
                                     class="el-menu-vertical-demo"
                                     @@open="asideHandleOpen"
                                     @@close="asideHandleClose"
                                     :unique-opened='true'
                                     >

                                <el-submenu index="1">
                                    <template slot="title">
                                        <i class="el-icon-location"></i>
                                        <span>
                                            <span class="title">考试管理</span>
                                        </span>                                        
                                    </template>
                                    <el-menu-item-group>
                                        <el-menu-item index="1-1" @@click="OpenExamType('type')">考试类型</el-menu-item>
                                        <el-menu-item index="1-2" @@click="OpenExamType('subject')">考试科目</el-menu-item>
                                        <el-menu-item index="1-3" @@click="OpenExamType('bank')">题库管理</el-menu-item>
                                        <el-menu-item index="1-4" @@click="OpenExamType('rule')">考试规则</el-menu-item>
                                        <el-menu-item index="1-5" @@click="OpenExamType('Page')">考试页面</el-menu-item>
                                        <el-menu-item index="1-6" @@click="OpenExamType('UserInfo')">人员信息</el-menu-item>
                                        <el-menu-item index="1-7" @@click="OpenExamType('Director')">主管审核</el-menu-item>
                                        <el-menu-item index="1-8" @@click="OpenExamType('HrCheck')">HR审核</el-menu-item>
                                        <el-menu-item index="1-9" @@click="OpenExamType('ViewCheck')">前台考试页面</el-menu-item>
                                    </el-menu-item-group>
                                </el-submenu>
                            </el-menu>
                        </el-aside>
                    </div>
                    
                    <div style="flex:1;display:flex;flex-direction:column;overflow:auto">
                        @RenderBody()
                        <footer style="height:60px;padding:0 20px;color:#333;text-align:center">
                            <div id="advan-footer">
                                <div class="row-maxwidth-98pct">
                                    <ul class="footer-copyright clearfix">

                                        <li id="footer-info-privacy"><a href="https://beian.miit.gov.cn/#/Integrated/recordQuery">苏ICP备11055982号</a></li>
                                    </ul>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </footer>

                    </div>

                </div>
            </div>
        </div>

    </div>
    
    <!-- Yoursite Scripts -->
    <script>
        new Vue({
            el: "#headerid",
            data: {
                nowyear: '',
                isMobileTurn: false,
                mobileMenuDrawer: false,
                admin: '',
            },
            mounted: function () {
                var _this = this;
                var date = new Date();
                _this.nowyear = date.getFullYear();

                if (_this.isMobile()) {
                    _this.isMobileTurn = true
                } else {
                    _this.isMobileTurn = false
                }
                _this.getuser();
            },
            methods: {
                getuser() {
                    var _this = this;
                    axios.post('/Account/GetUser').then(res => {
                        console.log('163');

                        console.log(res);
                        _this.admin = res.data.admin;
                    })

                },
                isMobile() {
                    let flag = navigator.userAgent.match(/(phone|pad|pod|iPhone|iPod|ios|iPad|Android|Mobile|BlackBerry|IEMobile|MQQBrowser|JUC|Fennec|wOSBrowser|BrowserNG|WebOS|Symbian|Windows Phone)/i)
                    return flag
                }
            }
        })
         new Vue({
             el: "#mainbox",
            data: {
                nowyear: '',
                isMobileTurn: false,
                mobileMenuDrawer: false,
                isCollapse: true
            },
            mounted: function () {
                var date = new Date();
                this.nowyear = date.getFullYear();
                if (this.isMobile()) {
                    this.isMobileTurn = true
                } else {
                    this.isMobileTurn = false
                }

            },
             methods: {           
                 OpenExamType: function (ids) {
                     if (ids == "type") { window.location.href = "/PEMain/MaintainExamType" }
                     else if (ids == "subject") { window.location.href = "/PEMain/MaintainExamSubject" }
                     else if (ids == "rule") { window.location.href = "/PEMain/MaintainExamRule" }
                     else if (ids == "bank") { window.location.href = "/PEMain/MaintainExamBank" }
                     else if (ids == "Page") { window.location.href = "/PEMain/ExamPage" }
                     else if (ids == "UserInfo") { window.location.href = "/PEMain/MaintainExamUserInfo" }
                     else if (ids == "Director") { window.location.href = "/PEMain/SupervisorAudit" }
                     else if (ids == "HrCheck") { window.location.href = "/PEMain/HrAudit" }
                     else if (ids == "ViewCheck") { window.location.href = "/PEMain/MaintainExam" }
                     
                 },
                isMobile() {
                    let flag = navigator.userAgent.match(/(phone|pad|pod|iPhone|iPod|ios|iPad|Android|Mobile|BlackBerry|IEMobile|MQQBrowser|JUC|Fennec|wOSBrowser|BrowserNG|WebOS|Symbian|Windows Phone)/i)
                    return flag
                },
                showMobileMenu: function () {
                    this.mobileMenuDrawer = true;
                },
                asideHandleOpen(key, keyPath) {
                    console.log(key, keyPath);
                },
                asideHandleClose(key, keyPath) {
                    console.log(key, keyPath);
                },
                toggleColl: function () {
                    console.log(111)
                    this.isCollapse = !this.isCollapse;
                },
                resetForm(formName) {
                    this.$refs[formName].resetFields();
                }
            }
        })
    </script>
</body>
</html>
    <!-- end #container -->
 