@model advt.CMS.Models.ExamModel.ExamUserSubject
@{

    Layout = null;

}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>答题页</title>
    <link href="~/Scripts/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Scripts/elementUI/lib/theme-chalk/index.css" rel="stylesheet" />
    <link href="~/Scripts/css/exam.css" rel="stylesheet" />
    <style>


        .item {
            margin-bottom: 18px;
        }

        .clearfix:before,
        .clearfix:after {
            display: table;
            content: "";
        }

        .clearfix:after {
            clear: both
        }

        .box-card {
            width: 100%;
        }

        .el-card__header {
            background-color: #337ab7 !important;
            height: 48px !important;
            padding: 10px 10px !important;
        }

        .el-card__body {
            border-radius: 2px
        }
    </style>

</head>
<div id="app">
    <template>
        <div style="width:90%;margin:30px auto">
            <el-page-header @@back="goBack">
            </el-page-header>
            <el-tag style="margin-top:20px;"><i class="el-icon-user-solid"></i> {{usercode}} {{username}}</el-tag>

            <el-card class="box-card" v-for="item in ListUsersubject" style="margin-top:20px">
                <div slot="header" class="clearfix">
                    <span style="font-size:18px;color:white"><i class="el-icon-position"></i> {{item.ExamType}}</span>

                </div>
                <div class="text item" style="font-size:16px;cursor:pointer;" v-for="items in item.LExamSubject" @@click="OpenExam(items.ExamSubject,items.RuleName,items.ExamDate)"><i class="el-icon-thumb"></i> {{items.ExamSubject}}</div>
            </el-card>
        </div>
        <el-dialog :title="dialogFormTitle" :visible.sync="dialogFormVisible" :width="isMobileTurn?'90%':'50%'" :close-on-click-modal="false">
            <span>
                <el-button @@click="handleExam('formal')">正式</el-button>
                <el-button @@click="handleExam('test')">模拟</el-button>
            </span>

        </el-dialog>
    </template>


</div>
<script src="~/Scripts/Vue/Vue.js"></script>
<script src="~/Scripts/Vue/axios.js"></script>
<script src="~/Scripts/elementUI/lib/index.js"></script>
<script src="~/Scripts/Vue/polyfill.min.js"></script>
<script type="text/javascript">
    new Vue({
        el: '#app',
        data: {
            ListUsersubject: [],
            dialogFormVisible: false,
            dialogFormTitle: '',
            RuleName: '',
            username: '',
            usercode: '',
            ExamDate: '',
            activeNames: [],
            isMobileTurn: false
        },

        mounted: function () {
            var _this = this;
            this.getdata();
            this.opened();
            if (this.isMobile()) {
                this.isMobileTurn = true
            } else {
                this.isMobileTurn = false
            }
            console.log(this.isMobile(), 33333);
        },
        methods: {
            isMobile: function () {
                let flag = navigator.userAgent.match(/(phone|pad|pod|iPhone|iPod|ios|iPad|Android|Mobile|BlackBerry|IEMobile|MQQBrowser|JUC|Fennec|wOSBrowser|BrowserNG|WebOS|Symbian|Windows Phone)/i)
                return flag
            },
            OpenExam: function (data, RuleName, EDate) {
                var _this = this;
                _this.dialogFormTitle = data;
                _this.RuleName = RuleName;
                _this.ExamDate = EDate;
                console.log(_this.ExamDate, 122);
                _this.dialogFormVisible = true;
            },
            handleExam: function (data) {
                var _this = this;

                var datd = '';
                console.log(_this.ExamDate, 111);
                if (_this.ExamDate != null) {
                    console.log(23111);
                    datd = _this.changeDate(_this.ExamDate);
                }
                console.log(datd, 122);
                window.location.href = "/EPageMain/ExamPage?IsTest=" + data + "&RuleName=" + _this.RuleName + "&ExamDate=" + datd;
                //_this.ExamDate = '';
            },
            goBack: function () {
                var _this = this;
                if (_this.isMobileTurn == true) {
                    window.location.href = "/EPageMain/MaintainExam"
                } else {
                    window.location.href = "/EPageMain/MaintainExamPC"
                }

            },
            changeDate: function (dates) {
                var date = new Date(parseInt(dates.replace("/Date(", "").replace(")/", ""), 10));
                Y = date.getFullYear() + '-';
                M = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1) + '-';
                D = (date.getDate() < 10 ? '0' + (date.getDate()) : date.getDate()) + ' ';
                h = (date.getHours() < 10 ? '0' + (date.getHours()) : date.getHours()) + ':';
                m = (date.getMinutes() < 10 ? '0' + (date.getMinutes()) : date.getMinutes()) + ':';
                s = (date.getSeconds() < 10 ? '0' + (date.getSeconds()) : date.getSeconds());
                var NewDtime = Y + M + D + h + m + s;
                var listDate = new Date(date);
                var year = listDate.getFullYear();
                var mon = listDate.getMonth() + 1;
                var day = listDate.getDate();
                return year + '-' + mon + '-' + day;
            },
            getdata: function () {
                var _this = this;
                axios.post('/EPageMain/GetUserSubject').then(function (responese) {
                    _this.ListUsersubject = responese.data.ListUsersubject;
                    _this.username = responese.data.username;
                    _this.usercode = responese.data.usercode;
                })
            },
            opened: function () {
                var _this = this;
                return _this.ListUsersubject.map((i) => {
                    activeNames = i.ExamType;
                });
            }
        }


    })

</script>

