@*@model advt.Model.LoginModel*@

@{
    //ViewBag.Title = "用户登陆";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = null;

    //List<advt.Model.Global.ActionInfo> lnav = new List<advt.Model.Global.ActionInfo>();
    //lnav.Add(new advt.Model.Global.ActionInfo("用户登录"));
}

@*@section head{
    @Styles.Render("~/Content/nlogin")
}
<link href="~/Scripts/style.css" rel="stylesheet" />
@using (Html.BeginForm(null, null, new { }, FormMethod.Post, new { @class = "form-signin" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("returnUrl")
    <div class="main">
        <div class="login">
            <div class="login-top">
                <img src="~/Images/p.png" />
            </div>
            <h1>用户登陆</h1>
            <div class="login-bottom">
                <input type="text" id="inputUserName" name="UserName" class="login_input" placeholder="请输入用户名">
                <input type="password" id="inputPassword" name="Password" class="password" placeholder="密码">
                <input type="submit" value="登 陆">
                @*<a href="@Url.Action("Register", "Account")"><p>注册账号? Click Here</p></a>*@

    <!doctype html>
        <html>
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>登录</title>
            <link href="~/Scripts/css2/common-1200.css" rel="stylesheet" />
            <link href="~/Scripts/css2/common-mq-1200.css" rel="stylesheet" />
            <link href="~/Scripts/css2/all.min.css" rel="stylesheet" />
            <link href="~/Scripts/css2/font-awesome.css" rel="stylesheet" />
            <link href="~/Scripts/elementUI/lib/theme-chalk/index.css" rel="stylesheet" />
            <link href="~/Scripts/css2/layout.css" rel="stylesheet" />
        </head>
        <body>
            <div id="app" v-cloak>
                <div class="boxWrap" id="container">
                    <div class="loginWrap">
                        <div class="login_L">
                            <h2>研华考试平台</h2>
                            <div class="logo">
                                <img src="~/Images/logo.png" />
                            </div>
                        </div>
                        <div class="login_R">
                            <div class="loginBox">
                                <h2>欢迎登录</h2>
                                <div>
                                    <el-form :model="loginForm" ref="loginForm" class="demo-dynamic">
                                        <el-form-item prop="UserName"
                                                      label="用户名"
                                                      :rules="[
                                   { required: true, message: '请输入用户名', trigger: 'blur' }
                                 ]">
                                            <el-input v-model="loginForm.UserName"></el-input>
                                        </el-form-item>
                                        <el-form-item prop="Password"
                                                      label="密码"
                                                      :rules="[
                                   { required: true, message: '请输入密码', trigger: 'blur' }
                                 ]">
                                            <el-input v-model="loginForm.Password" show-password></el-input>
                                        </el-form-item>
                                        <el-form-item class="loginBtn">
                                            <el-button type="primary" @@click="submitForm('loginForm')">登  录</el-button>
                                        </el-form-item>
                                    </el-form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end #advan-footer -->
                </div>
            </div>

            <script src="~/Scripts/Vue/Vue.js"></script>
            <script src="~/Scripts/Vue/polyfill.min.js"></script>
            <script src="~/Scripts/Vue/axios.js"></script>
            <script src="~/Scripts/elementUI/lib/index.js"></script>


            <!-- Yoursite Scripts -->
            <script>
                new Vue({
                    el: "#app",
                    data: {
                        loginForm: {
                            UserName: '',
                            Password: '',
                            CookieTime:0
                        }
                    },
                    mounted: function () {

                    },
                    methods: {
                        submitForm(formName) {
                            this.$refs[formName].validate((valid) => {
                                if (valid) {
                                    var _this = this;
                                    console.log(_this.loginForm);
                                    axios.post('/Account/Login', {
                                        model: _this.loginForm
                                    }).then(function (res) {
                                        if (res.data.IsLogin == "Pass") {
                                            window.location.href = "/PEMain/MaintainExamType"
                                        } else {
                                            window.location.href = "/Account/Login"
                                        }
                                    });
                                } else {
                                    console.log('error submit!!');
                                    return false;
                                }
                            });
                        }
                    }
                })
            </script>
        </body>
        </html>


