<?xml version="1.0"?>

<BaseConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <!-- -->
	<!--<DbconnectstringDebug>Data Source=172.21.214.28;Initial Catalog=ExamDB;Persist Security Info=True;User ID=ExamSa;Password=1Ex@m2021</DbconnectstringDebug>
	<Dbconnectstring>Data Source=172.21.214.28;Initial Catalog=ExamDB;Persist Security Info=True;User ID=ExamSa;Password=1Ex@m2021</Dbconnectstring>-->
  <DbconnectstringDebug>Data Source=172.21.128.47;Initial Catalog=ExamDB_1228;Persist Security Info=True;User ID=ExamSa;Password=1Ex@m2021</DbconnectstringDebug>
  <Dbconnectstring>Data Source=172.21.128.47;Initial Catalog=ExamDB_1228;Persist Security Info=True;User ID=ExamSa;Password=1Ex@m2021</Dbconnectstring>
  <DbconnectstringCTOSCustomer>Data Source=172.21.161.110;Initial Catalog=CTOSCustomer;Persist Security Info=True;User ID=sa;Password=Ifs2015Pri</DbconnectstringCTOSCustomer>
  
  <Defaultpath>/</Defaultpath>
  <SMTPServer>smtp.163.com</SMTPServer>
  <Cookiename>pesite</Cookiename>s
  <Cookiedomain></Cookiedomain>
  <CompanyInfo>ICTOS平台管理</CompanyInfo>
  <SiteName>Advantech.com</SiteName>
  <Miitbeian>湘ICP备XXXX号</Miitbeian>
  <HomeKey>XXX</HomeKey>
  <HomeDescription>ICTOS平台管理</HomeDescription>
  <Passwordkey>5V2BAevBk5</Passwordkey>
  <ReportServicePath>E:\Production\CTOS_Test_Report</ReportServicePath>
</BaseConfigInfo>