@model advt.CMS.Models.ExamFinishModel
@{

    Layout = null;

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>成绩汇总</title>
    <link href="~/Scripts/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Scripts/elementUI/lib/theme-chalk/index.css" rel="stylesheet" />
    <link href="~/Scripts/css/exam.css" rel="stylesheet" />
    
</head>
<body>

    <div id="app" v-cloak>
        <div class="wrap">
            <div class="header">
                <h1>{{VExamScore.ExamType}}</h1>
            </div>
            <div class="content">
                <div>
                    <div v-if="VExamScore.IsQuestion==false">
                        <div class="grade-title" :class="{'isSuccess':isSuccess}">{{isSuccess?'恭喜！通过考试':'很遗憾！您未通过考试'}}</div>
                        <div class="grade-show">
                            <div>
                                <div class="grade" :class="{'isSuccess':isSuccess}">{{VExamScore.CorrectScore}}</div>
                                <div>总分 {{VExamScore.TotalScore}}</div>
                            </div>
                            <div>
                                <div>
                                    <div>{{VExamScore.CorrectNum}}</div>
                                    <p>答对题数</p>
                                </div>
                                <div>共 {{VExamScore.TatalTopicNum}} 题</div>
                            </div>
                        </div>
                    </div>

                    <div class="detail-show">
                        <div class="detail-divide">
                            答案解析: <i class="fa fa-angle-double-down"></i>
                        </div>
                        <div class="detail-list" v-for="(item,index) in examList">
                            <div>
                                <div class="detail-title">
                                    {{index+1}}.{{item.TopicTitle}}
                                    <span>分值{{item.TopicNum}}分</span>
                                </div>
                            </div>
                            <div><img v-if="item.TopicTitlePic!=null&&item.TopicTitlePic!=''" :src="'/Attachment/BankPic/'+item.TopicTitlePic" width="100" height="100" /></div>

                            <div class="detail-content">
                                <el-radio-group v-if="item.Type==0" v-model="item.selectOption">
                                    <el-radio :label="index.toString()" disabled v-for="(list,index) in item.ansowerList">
                                        <div>{{abcChange(index)}}.{{list.ansower}}</div>
                                        <div><img v-if="list.ansowerpic!=null&&list.ansowerpic!=''" :src="'/Attachment/BankPic/'+list.ansowerpic" width="100" height="100" /></div>

                                    </el-radio>
                                </el-radio-group>
                                <el-checkbox-group v-model="item.selectItem" v-if="item.Type==1">
                                    <el-checkbox :label="index.toString()" disabled v-for="(list,index) in item.ansowerList">
                                        <div>{{abcChange(index)}}.{{list.ansower}}</div>
                                        <div><img v-if="list.ansowerpic!=null&&list.ansowerpic!=''" :src="'/Attachment/BankPic/'+list.ansowerpic" width="100" height="100" /></div>

                                    </el-checkbox>
                                </el-checkbox-group>
                                <el-input type="textarea" :disabled="true" :clearable='true' :rows="2" resize="none" :autosize="{ minRows: 4}" v-model="examList.selectItem" v-if="examList.type==2"></el-input>

                                <div class="pro-judge" :class="{'isright':item.isright}" v-if="VExamScore.IsQuestion==false">
                                    <div>
                                        <span>
                                            <img :src="item.isright?'/Images/right.png':'/Images/error.png'">
                                        </span>
                                        <span>{{item.isright?'回答正确':'回答错误'}}</span>
                                    </div>

                                    <div>{{item.isright?'+'+item.TopicNum+'分':'+0分'}}</div>
                                </div>
                                <div class="judge-wrong" v-if="VExamScore.IsQuestion==false">
                                    <span>正确答案:{{item.DeRemark}}</span>
                                </div>
                                <div class="judge-wrong" v-if="VExamScore.IsQuestion==false">
                                    <span>答案解析:{{item.Remark}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- end #container -->
    <script src="~/Scripts/Vue/Vue.js"></script>
    <script src="~/Scripts/Vue/axios.js"></script>
    <script src="~/Scripts/elementUI/lib/index.js"></script>
    <script src="~/Scripts/Vue/polyfill.min.js"></script>
    <!-- Yoursite Scripts -->
    <script>
        new Vue({
            el: "#app",
            data: {
                isSuccess: false,    //是否通过考试
                nowyear: '',
                isMobileTurn: false,
                admin: '',
                TatalTopicNum: '',      //一共多少题  后台获取
                TotalScore: '',  //总分数
                CorrectScore: '',      //答题分数
                CorrectNum: '',   //答对题数
                VExamScore: [],
                VexamRecord: [],
                examList: [],
                isQuestion: false,    //是否问卷调查

            },
            mounted: function () {
                var date = new Date();
                this.nowyear = date.getFullYear();

                if (this.isMobile()) {
                    this.isMobileTurn = true
                } else {
                    this.isMobileTurn = false
                }
                this.getdata();
            },
            methods: {
                getdata: function () {
                    var _this = this;
                    axios.post('/PEMain/ExamFinishInfo').then(function (responese) {
                        _this.VExamScore = responese.data.VExamScore;
                        if (responese.data.VExamScore.CorrectScore >= responese.data.VExamScore.PassScore) {
                            _this.isSuccess = true;
                        }
                        _this.isQuestion = responese.data.VExamScore.IsQuestion;
                        _this.examList = responese.data.examList;

                    })
                },
                isMobile: function () {
                    let flag = navigator.userAgent.match(/(phone|pad|pod|iPhone|iPod|ios|iPad|Android|Mobile|BlackBerry|IEMobile|MQQBrowser|JUC|Fennec|wOSBrowser|BrowserNG|WebOS|Symbian|Windows Phone)/i)
                    return flag
                },
                abcChange: function (val) {
                    if (val == 0) {
                        return 'A'
                    } else if (val == 1) {
                        return 'B'
                    } else if (val == 2) {
                        return 'C'
                    } else if (val == 3) {
                        return 'D'
                    } else if (val == 4) {
                        return 'E'
                    } else if (val == 5) {
                        return 'F'
                    }
                },

            }
        })
    </script>
</body>
</html>

