@model advt.CMS.Models.ExamModel.HrAuditModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #app {
        padding: 20px 30px
    }
</style>
<div id="app" style="margin-left:20px">
    <template>
        <el-breadcrumb separator="/" style="margin-top:20px;margin-bottom:20px">
            <el-breadcrumb-item>考试管理</el-breadcrumb-item>
            <el-breadcrumb-item>HR审核</el-breadcrumb-item>
        </el-breadcrumb>

    </template>
    <div>
      
        <template>
            <el-select v-model="TypeName" placeholder="请选择考试类型">
                <el-option v-for="item in LExamType" :key="item.Key" :label="item.Value" :value="item.Key"></el-option>
            </el-select>
            <el-button slot="append" @@click="SearchinByTypeName">Search</el-button>
            <el-button @@click="handleUpdate()">更新</el-button>
        </template>



        <el-table style="width: 100%;margin-top:20px " border @@selection-change="changeFun"
                  :data="ListHrAuditUser">
            <el-table-column type="selection">
            </el-table-column>
            <el-table-column label="考试类型"
                             prop="TypeName" sortable>
            </el-table-column>
            <el-table-column label="科目"
                             prop="SubjectName" sortable>
            </el-table-column>
            <el-table-column label="工号"
                             prop="UserCode" sortable
                             fixed>
            </el-table-column>
            <el-table-column label="姓名"
                             prop="UserName" sortable>
            </el-table-column>
            <el-table-column label="部门"
                             prop="DepartCode" sortable>
            </el-table-column>

            <el-table-column label="等级"
                             prop="ApplyLevel" sortable>
            </el-table-column>
            <el-table-column fixed="right"
                             label="操作"
                             width="240">

                <template slot-scope="scope">

                    <el-button size="mini"
                               @@click="handlePractical(scope.row.UserCode,scope.row.UserName)">查看实践</el-button>
                    <el-button size="mini"
                               @@click="handleSearchDetail(scope.row.UserCode,scope.row.UserName)">查看明细</el-button>
                </template>
            </el-table-column>
        </el-table>
        <template>
            <el-divider content-position="left">Hr审核通过人员</el-divider>
            <div style="margin-bottom:20px">
                <div style="float:left;">
                    <el-upload class="upload-demo" style="margin-top:30px;"
                               ref="upload"
                               :multiple="false"
                               :on-success="handleExcelSuccess"
                               action="/PEMain/Upload_Qualification">
                        <el-button size="small" type="primary">考试资格汇入</el-button>
                    </el-upload>
                </div>
                <a href="/Attachment/temp/Template/QualificationTemplate.xlsx">
                    <el-button size="small" type="primary" style="margin-left:20px">汇入模板下载</el-button>
                </a>
            </div>
        </template>

        <el-table :data="ListHrAuditSuccessUser"
                  style="width: 100%;margin-top:20px " border @@selection-change="changeFun">
            <el-table-column label="状态">
                <template slot-scope="scope">
                    <el-tag type="success">HR已审核</el-tag>
                </template>
            </el-table-column>
            <el-table-column label="考试类型"
                             prop="TypeName" sortable
                             fixed>
            </el-table-column>
            <el-table-column label="科目"
                             prop="SubjectName" sortable>
            </el-table-column>
            <el-table-column label="工号"
                             prop="UserCode" sortable
                             fixed>
            </el-table-column>
            <el-table-column label="姓名"
                             prop="UserName" sortable>
            </el-table-column>
            <el-table-column label="部门"
                             prop="DepartCode" sortable>
            </el-table-column>

            <el-table-column label="等级"
                             prop="ApplyLevel" sortable>
            </el-table-column>
            <el-table-column label="审核人"
                             prop="HRUpdateUser" sortable>
            </el-table-column>
            <el-table-column label="审核时间"
                             prop="HRUpdateDate" sortable>
                <template slot-scope="scope">
                    <span v-if="scope.row.HRUpdateDate!=''&&scope.row.HRUpdateDate!=null">{{changeDate(scope.row.HRUpdateDate)}}</span>
                </template>
            </el-table-column>
            <el-table-column fixed="right"
                             label="操作"
                             width="100">
                <template slot-scope="scope">

                    <el-button size="mini"
                               @@click="handleStop(scope.row.ID)">取消</el-button>

                </template>
            </el-table-column>
        </el-table>
        <!-- #region 批量更新 -->
        <el-dialog title="信息编辑" :visible.sync="dialogUpdateVisible">
            <el-form :model="VAuditCheck">
                <el-form-item label="人员" :label-width="formLabelWidth">
                    <el-input v-model="VAuditCheck.Users" autocomplete="off" :disabled="true"></el-input>
                </el-form-item>
                <el-form-item label="考试日期" :label-width="formLabelWidth">
                    <el-date-picker v-model="VAuditCheck.ValidityDate" type="date" placeholder="选择日" @@change="dataSearch" value-format="yyyy-MM-dd"></el-date-picker>
                </el-form-item>
                <el-form-item label="考试地点" :label-width="formLabelWidth">
                    <el-input v-model="VAuditCheck.ExamPlace" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="是否报名" :label-width="formLabelWidth">
                    <el-checkbox v-model="VAuditCheck.IsExam"></el-checkbox>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <template>
                    <el-button @@click="dialogUpdateVisible = false">取 消</el-button>
                    <el-button type="primary" @@click="handleSave()">确 定</el-button>
                </template>

            </div>

        </el-dialog>
        <!-- #endregion -->
        <!-- #region 上传实践弹窗 -->
        <el-dialog title="查看实践" :visible.sync="dialogFormPractical">
            <el-table :data="LPracticeInfo"
                      style="width: 100%;margin-top:20px " border @@selection-change="changeFun">
                <el-table-column label="姓名"
                                 prop="UserName" sortable
                                 fixed>
                </el-table-column>
                <el-table-column label="工号"
                                 prop="UserCode" sortable>
                </el-table-column>
                <el-table-column label="有效期"
                                 prop="ValidityDate" sortable>
                    <template slot-scope="scope">
                        <span v-if="scope.row.ValidityDate!=''&&scope.row.ValidityDate!=null">{{changeDate(scope.row.ValidityDate)}}</span>
                    </template>
                </el-table-column>
                <el-table-column label="分数"
                                 prop="PracticeScore" sortable>

                </el-table-column>
                <el-table-column label="备注"
                                 prop="PracticeRemark" sortable>
                </el-table-column>
                <el-table-column label="附件"
                                 prop="Enclosure" sortable>
                    <template slot-scope="scope">
                        @*v-if="scope.row.Enclosure!=''*@
                        <span v-if="scope.row.Enclosure!=''&&scope.row.Enclosure!=null"> <a :href="'/Attachment/Practice/'+scope.row.Enclosure"> <i class="el-icon-download"></i></a></span>
                    </template>
                </el-table-column>
                <el-table-column label="技能"
                                 prop="SkillName" sortable>
                </el-table-column>
                <el-table-column label="创建人"
                                 prop="CreateUser" sortable>
                </el-table-column>
                <el-table-column label="创建时间"
                                 sortable>
                    <template slot-scope="scope">
                        <span v-if="scope.row.CreateDate!=''&&scope.row.CreateDate!=null">{{changeDate(scope.row.CreateDate)}}</span>
                    </template>
                </el-table-column>
            </el-table>
            <div slot="footer" class="dialog-footer">
                <template>
                    <el-button @@click="dialogFormPractical = false">取 消</el-button>
                    <el-button type="primary" @@click="handlePracticalSave('save')">保存</el-button>
                </template>

            </div>
        </el-dialog>
        <!-- #endregion -->
        <!-- #region 查看明细 -->
        <el-dialog title="明细查看" :visible.sync="dialogSearchVisible">
            <el-table :data="LExamUserDetailInfo"
                      style="width: 100%;margin-top:20px " border @@selection-change="changeFun">
                <el-table-column label="日期"
                                 prop="CreateDate" sortable
                                 fixed>
                    <template slot-scope="scope">
                        <span v-if="scope.row.CreateDate!=''&&scope.row.CreateDate!=null">{{changeDate(scope.row.CreateDate)}}</span>
                    </template>
                </el-table-column>
                <el-table-column label="考试类型"
                                 prop="TypeName" sortable>
                </el-table-column>
                <el-table-column label="姓名"
                                 prop="UserName" sortable>
                </el-table-column>
                <el-table-column label="工号"
                                 prop="UserCode" sortable>
                </el-table-column>
                <el-table-column label="部门"
                                 prop="DepartCode" sortable>
                </el-table-column>
                <el-table-column label="职等"
                                 prop="RankName" sortable>
                </el-table-column>
                <el-table-column label="技能"
                                 prop="SkillName" sortable>
                </el-table-column>
                <el-table-column label="入职日"
                                 prop="EntryDate" sortable>
                    <template slot-scope="scope">
                        <span v-if="scope.row.EntryDate!=''&&scope.row.EntryDate!=null">{{changeDate(scope.row.EntryDate)}}</span>
                    </template>
                </el-table-column>
                <el-table-column label="绩效"
                                 prop="Achievement" sortable>
                </el-table-column>
                <el-table-column label="考试时间"
                                 sortable>
                    <template slot-scope="scope">
                        <span v-if="scope.row.ExamDate!=''&&scope.row.ExamDate!=null">{{changeDate(scope.row.ExamDate)}}</span>
                    </template>
                </el-table-column>
                <el-table-column label="考试成绩"
                                 prop="ExamScore" sortable>
                </el-table-column>
                <el-table-column label="实践成绩"
                                 prop="PracticeScore" sortable>
                </el-table-column>
                <el-table-column label="预计考试时间"
                                 sortable>
                    <template slot-scope="scope">
                        <span v-if="scope.row.PlanExamDate!=''&&scope.row.PlanExamDate!=null">{{changeDate(scope.row.PlanExamDate)}}</span>
                    </template>
                </el-table-column>
                <el-table-column label="考试地点"
                                 prop="ExamPlace" sortable>
                </el-table-column>
                <el-table-column label="状态"
                                 prop="ExamStatus" sortable>
                </el-table-column>
                <el-table-column label="复审"
                                 prop="IsReview" sortable>
                </el-table-column>
                <el-table-column label="考试规则"
                                 prop="RuleName" sortable>
                </el-table-column>
                <el-table-column label="科目"
                                 prop="SubjectName" sortable>
                </el-table-column>
                <el-table-column label="考试类型"
                                 prop="TypeName" sortable>
                </el-table-column>
                <el-table-column label="申请等级"
                                 prop="ApplyLevel" sortable>
                </el-table-column>
                <el-table-column label="最高可考技能"
                                 prop="HighestLevel" sortable>
                </el-table-column>
                <el-table-column label="符合绩效"
                                 prop="IsAchment" sortable>
                </el-table-column>
                <el-table-column label="中止"
                                 prop="IsStop" sortable>
                    <template slot-scope="scope">
                        {{ChangeAch(scope.row.IsStop)}}
                    </template>
                </el-table-column>
            </el-table>

        </el-dialog>
        <!-- #endregion -->
    </div>
</div>
<script src="~/Scripts/Vue/Vue.js"></script>
<script src="~/Scripts/Vue/axios.js"></script>
<script src="~/Scripts/elementUI/lib/index.js"></script>
<script src="~/Scripts/Vue/polyfill.min.js"></script>
<script type="text/javascript">
    new Vue({
        el: '#app',
        data: {
            dialogFormVisible: false,
            dialogFormPractical: false,
            dialogUpdateVisible: false,
            dialogSearchVisible: false,
            form: [],
            ListHrAuditUser:[],//需要Hr审核的人
            ListHrAuditSuccessUser:[],//Hr审核通过的人
            LPracticeInfo: [],//实践
            TypeName: '',
            LExamType:[],
            LExamUserDetailInfo:[],
            VAuditCheck: {},
            formLabelWidth: '120px',
            search: '',
            VPracticeInfo: {},
            checkBoxData: [],
          
        },
        mounted: function () {
            this.getdata();
        },
        created() {
            this.initData({});
        },
        methods: {
            changeFun(val) {
                var _this = this;
                _this.checkBoxData = val;
            },
            dataSearch() {
                this.getListByDataTime();
            },
            //批量更新操作
            handleUpdate() {

                var _this = this;
                _this.dialogUpdateVisible = true;
                _this.VAuditCheck.Users = '';
                _this.VAuditCheck.IsExam = true;
                _this.checkBoxData.forEach(function (item) {
                    var c = item['UserName'];
                    if (c != '' && c != 'undefined') {
                        _this.VAuditCheck.Users += c + "和";
                    }

                })
            },
            handleSave() {
                var _this = this;
                _this.checkBoxData.forEach(function (item) {
                    item['IsExam'] = _this.VAuditCheck.IsExam;
                    item['ValidityDate'] = _this.VAuditCheck.RuleName;
                    item['ExamStatus'] = 'HrCheck';
                    item['ExamPlace'] = _this.VAuditCheck.ExamPlace;
                })
                console.log(_this.checkBoxData, 2222);
                axios.post('/PEMain/UpdateHrAduitUser', {
                    model: _this.checkBoxData
                }).then(function (res) {
                    _this.ListHrAuditUser = res.data.ListHrAuditUser;
                    _this.ListHrAuditSuccessUser = res.data.ListHrAuditSuccessUser;
                    _this.dialogUpdateVisible = false;

                });

            },
            handleExcelSuccess(Result, ListHrAuditUser, ListHrAuditSuccessUser) {
                var _this = this;
                _this.ListHrAuditUser = res.data.ListHrAuditUser;
                _this.ListHrAuditSuccessUser = res.data.ListHrAuditSuccessUser;
                this.$message({
                    message: Result.Result,
                    type: 'success'
                });
            },
            //取消
            handleStop(ID) {
                var _this = this;
                axios.post('/PEMain/StopHrAuditUser', {
                    model: ID
                }).then(function (res) {
                    _this.ListHrAuditUser = res.data.ListHrAuditUser;
                    _this.ListHrAuditSuccessUser = res.data.ListHrAuditSuccessUser;
                    _this.LSignedupUser = res.data.LSignedupUser;
                });
            },
            //查看实践
            handlePractical(usercode, username) {
                var _this = this;
                axios.post('/PEMain/SearchPracticeUserDetail', {
                    model: usercode
                }).then(function (res) {
                    _this.LPracticeInfo = res.data.LPracticeInfo;
                });
                _this.dialogFormPractical = true;
            },
            //查询明细
            handleSearchDetail(usercode) {
                var _this = this;
                axios.post('/PEMain/SearchPracticeUserDetail', {
                    model: usercode
                }).then(function (res) {
                    _this.LExamUserDetailInfo = res.data.LExamUserDetailInfo;
                    console.log(_this.LExamUserDetailInfo, 5555);

                });
                _this.dialogSearchVisible = true;
            },
            SearchinByTypeName() {
                var _this = this;
                axios.post('/PEMain/GetHrAuditUser', {
                    typename: _this.TypeName
                }).then(function (res) {
                    _this.ListHrAuditUser = res.data.ListHrAuditUser;
                    _this.ListHrAuditSuccessUser = res.data.ListHrAuditSuccessUser;
                });
                _this.dialogFormVisible = false
            },
            async initData(data) {
                //获取当前时间
                var now = new Date();
                var monthn = now.getMonth() + 1;
                var yearn = now.getFullYear();
                var dayn = now.getDate();
                var h = now.getHours();
                var m = now.getMinutes();
                var s = now.getSeconds();
                this.selectDatetime = yearn + "-" + monthn + "-" + dayn + " " + h + ":" + m + ":" + s;

                this.selectUser = parseInt(sessionStorage.getItem("userid"));
                this.getListByDataTime();
            },
            async getListByDataTime(data) {

            },

            changeDate: function (dates) {
                var date = new Date(parseInt(dates.replace("/Date(", "").replace(")/", ""), 10));
                Y = date.getFullYear() + '-';
                M = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1) + '-';
                D = (date.getDate() < 10 ? '0' + (date.getDate()) : date.getDate()) + ' ';
                h = (date.getHours() < 10 ? '0' + (date.getHours()) : date.getHours()) + ':';
                m = (date.getMinutes() < 10 ? '0' + (date.getMinutes()) : date.getMinutes()) + ':';
                s = (date.getSeconds() < 10 ? '0' + (date.getSeconds()) : date.getSeconds());
                var NewDtime = Y + M + D + h + m + s;
                var listDate = new Date(date);
                var year = listDate.getFullYear();
                var mon = listDate.getMonth() + 1;
                var day = listDate.getDate();
                //console.log(new Date(date).getFullYear())
                return year + '-' + mon + '-' + day;
            },
            ChangeAch: function (ach) {
                if (ach == false) {
                    return "否";
                }
                else if (ach == true) {
                    return "是";
                }
            },
            getdata: function () {
                var _this = this;
                axios.post('/PEMain/GetHrAuditUser').then(function (responese) {
                    _this.ListHrAuditUser = responese.data.ListHrAuditUser;
                    _this.ListHrAuditSuccessUser = responese.data.ListHrAuditSuccessUser;
                    _this.LExamType = responese.data.LExamType;
                })
            }
        }

    })


</script>

