@model advt.CMS.Models.ExamModel.MaintainExamModel

@{
    /**/

    Layout = null;
}
<style>
    .text {
        font-size: 14px;
    }

    .item {
        margin-bottom: 18px;
    }

    .clearfix:before,
    .clearfix:after {
        display: table;
        content: "";
    }

    .clearfix:after {
        clear: both
    }

    .box-card {
        width: 100%;
    }
</style>
<link href="~/Scripts/css/font-awesome.css" rel="stylesheet" />
<link href="~/Scripts/elementUI/lib/theme-chalk/index.css" rel="stylesheet" />
<link href="~/Scripts/css/exam.css" rel="stylesheet" />
<div id="app" style="margin-left:20px">
    <div style="width:100%;margin-top:30px;">
        <el-card class="box-card" v-for="item in ListUsersubject">
            <div slot="header" class="clearfix">
                <span>{{item.ExamType}}</span>

            </div>
            <div v-for="items in item.LExamSubject" @@click="OpenExam(items.ExamSubject,items.RuleName)">{{items.ExamSubject}}</div>
        </el-card>
    </div>
    <el-dialog :title="dialogFormTitle" :visible.sync="dialogFormVisible">
        <span>
            <el-button @@click="handleExam('formal')">正式</el-button>
            <el-button @@click="handleExam('test')">模拟</el-button>
        </span>

    </el-dialog>
</div>
<script src="~/Scripts/Vue/Vue.js"></script>
<script src="~/Scripts/Vue/axios.js"></script>
<script src="~/Scripts/elementUI/lib/index.js"></script>
<script src="~/Scripts/Vue/polyfill.min.js"></script>
<script type="text/javascript">
    new Vue({
        el: '#app',
        data: {
            ListUsersubject: [],
            dialogFormVisible: false,
            dialogFormTitle: '',
            RuleName:''
        },

        mounted: function () {
            var _this = this;
            this.getdata();
        },
        methods: {
            OpenExam: function (data,RuleName) {
                var _this = this;
                _this.dialogFormTitle = data;
                _this.RuleName = RuleName;
                console.log(RuleName, 122);
                _this.dialogFormVisible = true;
            },
            handleExam: function (data) {
                var _this = this;
                window.location.href = "/PEMain/ExamPage?IsTest=" + data + "&RuleName="+_this.RuleName;
            },
            getdata: function () {
                var _this = this;
                axios.post('/PEMain/GetUserSubject').then(function (responese) {
                    _this.ListUsersubject = responese.data.ListUsersubject;
                })

            }
        }


    })

</script>

