@model advt.CMS.Models.ExamModel.MaintainExamModel

@{
}
<style>
    .el-collapse-item__header {
        background-color: #337ab7 !important;
        border-radius: 4px
    }
    .el-collapse-item {
        border: 1px solid #d7dae2 !important;
        border-radius: 2px;
        border-top:0px;
        margin-top: 20px;
    }
    .el-collapse-item__wrap {
        
        border-top: 0px;
        
    }
    .text {
        font-size: 16px;
    }

    .item {
        margin-bottom: 18px;
    }

    .clearfix:before,
    .clearfix:after {
        display: table;
        content: "";
    }

    .clearfix:after {
        clear: both
    }

    .box-card {
        width: 100%;
    }
    .el-card__header {
        background-color: #4e97a2;
    }
    .el-collapse-item__arrow el-icon-arrow-right {
        color: white !important
    }
</style>
<link href="~/Scripts/css/font-awesome.css" rel="stylesheet" />
<link href="~/Scripts/elementUI/lib/theme-chalk/index.css" rel="stylesheet" />
<link href="~/Scripts/css/exam.css" rel="stylesheet" />
<div id="app" style="width:90%;">
    <div style="margin-top:30px;margin-left:20px;margin-right:20px">
        <template>
            <el-collapse v-model="activeNames">
                <el-collapse-item name="1">
                    <template slot="title">
                        <span style="font-size:18px;color:white;margin-left:10px"> <i class="el-icon-position"></i> 考试</span>
                    </template>
                    <div @@click="ShowSubject('exam')" style="height:30px;font-size:16px;margin-left:10px;margin-top:10px"> <i class="el-icon-thumb"></i> 考试科目列表</div>
                    <div @@click="ShowSubject('score')" style="height:30px;font-size:16px;margin-left:10px;margin-top:10px"><i class="el-icon-thumb"></i> 考试成绩查询</div>
                </el-collapse-item>
                <el-collapse-item name="2">
                    <template slot="title">
                        <span style="font-size:18px;color:white;margin-left:10px"> <i class="el-icon-position"></i> 问卷调查</span>
                    </template>
                    <div style="height:30px;font-size:16px;margin-left:10px;margin-top:10px"> <i class="el-icon-thumb"></i> Test1</div>
                    <div style="height:30px;font-size:16px;margin-left:10px;margin-top:10px"><i class="el-icon-thumb"></i> Test2</div>
                </el-collapse-item>
                <el-collapse-item name="3">
                    <template slot="title">
                        <span style="font-size:18px;color:white;margin-left:10px"> <i class="el-icon-position"></i> 社团</span>
                    </template>
                    <div style="height:30px;font-size:16px;margin-left:10px;margin-top:10px"> <i class="el-icon-thumb"></i> Test1</div>
                    <div style="height:30px;font-size:16px;margin-left:10px;margin-top:10px"><i class="el-icon-thumb"></i> Test2</div>
                </el-collapse-item>
        </template>
    </div>

</div>
<script src="~/Scripts/Vue/Vue.js"></script>
<script src="~/Scripts/Vue/axios.js"></script>
<script src="~/Scripts/elementUI/lib/index.js"></script>
<script src="~/Scripts/Vue/polyfill.min.js"></script>
<script type="text/javascript">
    new Vue({
        el: '#app',
        data: {
            activeNames:['1','2','3']
        },

        mounted: function () {
            var _this = this;
        },
        methods: {
            ShowSubject: function (ids) {
                if (ids == "exam") { window.location.href = "/PEMain/MaintainSubset" }
                if (ids == "score") { window.location.href = "/PEMain/MaintainScore" }
            },
            asideHandleOpen(key, keyPath) {

            },
            asideHandleClose(key, keyPath) {

            }
        }


    })

</script>

