@model advt.CMS.Models.ExamModel.MaintainExamModel

@{
}
<style>
    .text {
        font-size: 16px;
    }

    .item {
        margin-bottom: 18px;
    }

    .clearfix:before,
    .clearfix:after {
        display: table;
        content: "";
    }

    .clearfix:after {
        clear: both
    }

    .box-card {
        width: 100%;
    }
    .el-card__header {
        background-color: #4e97a2;
    }
</style>
<link href="~/Scripts/css/font-awesome.css" rel="stylesheet" />
<link href="~/Scripts/elementUI/lib/theme-chalk/index.css" rel="stylesheet" />
<link href="~/Scripts/css/exam.css" rel="stylesheet" />
<div id="app" style="width:100%;">
    <div style="width:100%;margin-top:30px;margin-left:20px;margin-right:20px">
        <template>
            <el-card class="box-card">
                <div slot="header" class="clearfix">
                    <span style="font-size:18px;color:white"><i class="el-icon-position"></i> 考试</span>
                </div>
                <div class="text item" @@click="ShowSubject('exam')"><i class="el-icon-thumb"></i> 考试科目列表</div>
                <div class="text item" @@click="ShowSubject('score')"><i class="el-icon-thumb"></i> 考试成绩查询</div>
            </el-card>
            <el-card class="box-card">
                <div slot="header" class="clearfix">
                    <span style="font-size:18px;color:white"><i class="el-icon-position"></i> 问卷调查</span>
                </div>

            </el-card>
            <el-card class="box-card">
                <div slot="header" class="clearfix">
                    <span style="font-size:18px;color:white"><i class="el-icon-position"></i> 社团</span>
                </div>
            </el-card>
        </template>
    </div>

</div>
<script src="~/Scripts/Vue/Vue.js"></script>
<script src="~/Scripts/Vue/axios.js"></script>
<script src="~/Scripts/elementUI/lib/index.js"></script>
<script src="~/Scripts/Vue/polyfill.min.js"></script>
<script type="text/javascript">
    new Vue({
        el: '#app',
        data: {
        },

        mounted: function () {
            var _this = this;
        },
        methods: {
            ShowSubject: function (ids) {
                if (ids == "exam") { window.location.href = "/PEMain/MaintainSubset" }
                if (ids == "score") { window.location.href = "/PEMain/MaintainScore" }
            },
            asideHandleOpen(key, keyPath) {

            },
            asideHandleClose(key, keyPath) {

            }
        }


    })

</script>

