@model advt.Model.PageModel.PEModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/common.js"></script>
<link href="~/Scripts/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Scripts/jquery-ui.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui.min.js"></script>
<link href="~/Scripts/elementUI/lib/theme-chalk/index.css" rel="stylesheet" />
<div id="app">
    <div>
        <el-table :data="tableData.filter(data => !search || data.TypeName.toLowerCase().includes(search.toLowerCase()))"
                  style="width: 100% " :default-sort="{prop: 'TypeName', order: 'CreateUser'}">
            <el-table-column label="考试类型"
                             prop="TypeName" sortable
                             width="180">
            </el-table-column>
            <el-table-column label="创建人"
                             prop="CreateUser" sortable
                             width="180">
            </el-table-column>
            <el-table-column label="创建时间"
                             prop="CreateDate">
            </el-table-column>

            <el-table-column align="right">
                <template slot="header" slot-scope="scope">

                    <el-input v-model="search"
                              size="mini"
                              placeholder="输入关键字搜索" />
                </template>
                <template slot-scope="scope">
                    <el-button size="mini"
                               @@click="handleEdit(scope.row.ID, scope.row)">Edit</el-button>
                    <el-button size="mini"
                               type="danger"
                               @@click="handleDelete(scope.$index, scope.row)">Delete</el-button>
                </template>

            </el-table-column>
        </el-table>
        <el-dialog title="考试类型编辑" :visible.sync="dialogFormVisible">
            <el-form :model="form">
                <el-form-item label="考试类型" :label-width="formLabelWidth">
                    <el-input v-model="form.name" autocomplete="off"></el-input>
                </el-form-item>
                @*<el-form-item label="活动区域" :label-width="formLabelWidth">
                        <el-select v-model="form.region" placeholder="请选择活动区域">
                            <el-option label="区域一" value="shanghai"></el-option>
                            <el-option label="区域二" value="beijing"></el-option>
                        </el-select>
                    </el-form-item>*@
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @@click="dialogFormVisible = false">取 消</el-button>
                <el-button type="primary" @@click="dialogFormVisible = false">确 定</el-button>
            </div>
        </el-dialog>
    </div>
</div>
<script src="~/Scripts/Vue/axios.js"></script>
<script src="~/Scripts/Vue/Vue.js"></script>
<script src="~/Scripts/elementUI/lib/index.js"></script>

<script src="~/Scripts/Vue/polyfill.min.js"></script>
<script type="text/javascript">
    new Vue({
        el: '#app',
        data: {
            tableData: [],
            dialogFormVisible: false,
            form: {
                name: '',
                region: '',
                date1: '',
                date2: '',
                delivery: false,
                type: [],
                resource: '',
                desc: ''
            },
            formLabelWidth: '120px',
            search: ''
        },
        mounted: function () {
            this.getdata();
        },
        methods: {
            handleEdit(index, row) {
                console.log(index, 23);
                var _this = this;
                _this.dialogFormVisible = true;
                console.log(index, row);
            },
            handleDelete(index, row) {
                console.log(index, row);
            },
            getdata: function () {
                var _this = this;
                axios.post('/PEMain/Test').then(function (responese) {
                    _this.tableData = responese.data.tableData;
                })
            }
        },

    })

</script>

