@model advt.CMS.Models.ExamModel.MaintainExamPageModel
    <link href="~/Scripts/jquery-ui.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <link href="~/Scripts/elementUI/lib/theme-chalk/index.css" rel="stylesheet" />
<style>
    .topie {
        width: 50px;
    }
</style>
<div id="app" style="margin-left:20px">
    <div style="margin-top:20px">
        <el-form :inline="true" class="demo-form-inline">
            <el-form-item label="工号">
                <el-input v-model="UserCode"></el-input>
            </el-form-item>
            <el-form-item label="科目">
                <el-input v-model="SubjectName"></el-input>
            </el-form-item>
            <el-form-item label="日期">
                <el-date-picker v-model="ExamDate" type="date" value-format="yyyy-MM-dd" placeholder="选择日期">
                </el-date-picker>
            </el-form-item>
            <el-form-item>
                <template>
                    <el-button type="primary" @@click="SearchDetailInfo">查询</el-button>
                </template>
            </el-form-item>
        </el-form>
    </div>

    <div>
        <el-table :data="tableData"
                  style="width: 100% ">
            <el-table-column label="工号" prop="UserCode" sortable></el-table-column>
            <el-table-column label="姓名" prop="UserName" sortable></el-table-column>
            <el-table-column label="部门" prop="DepartCode" sortable></el-table-column>
            <el-table-column label="职称" prop="PostName" sortable></el-table-column>
            <el-table-column label="职等" prop="RankName" sortable></el-table-column>
            <el-table-column label="入职日期">
                <template slot-scope="scope">
                    <span v-if="scope.row.EntryDate!=''&&scope.row.EntryDate!=null">{{changeDate(scope.row.EntryDate)}}</span>
                </template>
            </el-table-column>
            <el-table-column label="组织职能性质" prop="OrganizingFunction" sortable></el-table-column>
            <el-table-column label="本职等技能" prop="CurrentLevel" sortable></el-table-column>
            <el-table-column label="目前技能等级" prop="ApplyLevel" sortable></el-table-column>
            <el-table-column label="最近一次考试时间">
                <template slot-scope="scope">
                    <span v-if="scope.row.CurrectExamDate!=''&&scope.row.CurrectExamDate!=null">{{changeDate(scope.row.CurrectExamDate)}}</span>
                </template>
            </el-table-column>
            <el-table-column label="最近一次理论成绩" prop="ExamScore" sortable></el-table-column>
            <el-table-column label="最近一次实践成绩通过时间">
                <template slot-scope="scope">
                    <span v-if="scope.row.PracticeDate!=''&&scope.row.PracticeDate!=null">{{changeDate(scope.row.PracticeDate)}}</span>
                </template>
            </el-table-column>

            @*<el-table-column label="在职状态" prop="PostState" sortable></el-table-column>
                <el-table-column label="本职岗位" prop="PostJob" sortable></el-table-column>
                <el-table-column label="考核岗位" prop="SubjectName" sortable></el-table-column>
                <el-table-column label="申请等级" prop="SkillName" sortable></el-table-column>
                <el-table-column label="理论考核" prop="ExamScore" sortable></el-table-column>
                <el-table-column label="实践考核" prop="PracticeScore" sortable></el-table-column>
                <el-table-column label="标准等级津贴" prop="SkillAllowance" sortable></el-table-column>
                <el-table-column label="技能等级通过后可晋升的新职等" prop="NewRankName" sortable></el-table-column>
                <el-table-column label="晋升加给" prop="PromotionBonus" sortable></el-table-column>
                <el-table-column label="此次上调金额" prop="ToatlBonus" sortable></el-table-column>
                <el-table-column label="薪资调整月份" prop="CurrentMonth" sortable></el-table-column>*@
        </el-table>
    </div>
</div>
    <script src="~/Scripts/Vue/axios.js"></script>
    <script src="~/Scripts/Vue/Vue.js"></script>
    <script src="~/Scripts/elementUI/lib/index.js"></script>

    <script src="~/Scripts/Vue/polyfill.min.js"></script>
    <script type="text/javascript">
        new Vue({
            el: '#app',
            data: {
                topicratioProps: { multiple: true, label: 'Text', },
                tableData: [],
                dialogFormVisible: false,
                ListTypeName: [],
                formLabelWidth: '120px',
                search: '',
                UserCode: '',
                SubjectName:'',
                ExamDate: ''
             
            },         
            mounted: function () {
                this.getdata();             
            },
            methods: {                           
             
                getdata: function () {
                    var _this = this;
                    axios.post('/PEMain/GetMaintainExamPage').then(function (responese) {
                        _this.tableData = responese.data.tableData;
                        
                    })
                   
                },
                changeDate: function (dates) {
                    var date = new Date(parseInt(dates.replace("/Date(", "").replace(")/", ""), 10));
                    Y = date.getFullYear() + '-';
                    M = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1) + '-';
                    D = (date.getDate() < 10 ? '0' + (date.getDate()) : date.getDate()) + ' ';
                    h = (date.getHours() < 10 ? '0' + (date.getHours()) : date.getHours()) + ':';
                    m = (date.getMinutes() < 10 ? '0' + (date.getMinutes()) : date.getMinutes()) + ':';
                    s = (date.getSeconds() < 10 ? '0' + (date.getSeconds()) : date.getSeconds());
                    var NewDtime = Y + M + D + h + m + s;
                    var listDate = new Date(date);
                    var year = listDate.getFullYear();
                    var mon = listDate.getMonth() + 1;
                    var day = listDate.getDate();
                    return year + '-' + mon + '-' + day;
                },
                SearchDetailInfo() {
                    var _this = this;
                axios.post('/PEMain/GetMaintainExamPage', {
                    UserCode: _this.UserCode,
                    SubjectName: _this.SubjectName,
                    ExamDate: _this.ExamDate
                }).then(function (res) {
                    console.log(res.data.tableData,113);
                    _this.tableData = res.data.tableData;
                });
            },
            },

        })

    </script>

