@model advt.CMS.Models.ExamModel.ExamBankModel

    @{
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
<div id="app">
    <div style="width:100%;margin-top:30px">
        <el-button @@click="createTopic">新增</el-button>
        <el-select v-model="TypeName" placeholder="请选择考试类型">
            <el-option v-for="item in LExamType" :key="item.Key" :label="item.Value" :value="item.Key"></el-option>
        </el-select>
        <el-button slot="append" @@click="SearchinByTypeName">Search</el-button>
        <el-upload class="upload-demo" style="margin-top:30px"
                   ref="upload"
                   :multiple="false"
                   :on-success="handleExcelSuccess"
                   action="/PEMain/Upload_TEL_MASTER">
            <el-button size="small" type="primary">EXCEL上传题库</el-button>
        </el-upload>
        <el-upload class="upload-demo" style="margin-top:30px"
                   ref="upload"
                   :multiple="false"
                   :on-success="handleSuccess"
                   action="/PEMain/Upload_BankPic">
            <el-button size="small" type="primary">上传图片</el-button>
        </el-upload>
        <a href="/Attachment/temp/Template/BankTemplate.xlsx">
            <el-button size="small" type="primary" style="margin-top:30px">题库模板下载</el-button>
        </a>

    </div>

    <el-table :data="LExamBank.filter(data => !search || data.CreateDate.toLowerCase().includes(search.toLowerCase()))"
              style="width: 100%;margin-top:20px " :default-sort="{prop: 'CreateDate', order: 'CreateUser'}" border>
        <el-table-column label="考试类型"
                         prop="ExamType" sortable
                         width="180">
        </el-table-column>
        <el-table-column label="题目专业"
                         prop="TopicMajor" sortable
                         width="180">
        </el-table-column>
        <el-table-column label="题目等级"
                         prop="TopicLevel" sortable
                         width="180">
        </el-table-column>
        <el-table-column label="题目类型"
                         prop="TopicType" sortable
                         width="180">
        </el-table-column>
        <el-table-column label="题目内容"
                         prop="TopicTitle" sortable
                         width="180">
        </el-table-column>
        @*<el-table-column label="上传时间"
                         prop="CreateDate" sortable
                         width="180">
        </el-table-column>
        <el-table-column label="上传人"
                         prop="CreateUser" sortable
                         width="180">
        </el-table-column>*@
        <el-table-column align="right">
            <template slot="header" slot-scope="scope">

                <el-input v-model="search"
                          size="mini"
                          placeholder="输入关键字搜索" />
            </template>

            <template slot-scope="scope">
                <el-button size="mini"
                           @@click="handleEdit(scope.row.ID)">Edit</el-button>
                <el-button size="mini"
                           type="danger"
                           @@click="handleDelete(scope.row.ID)">Delete</el-button>
            </template>

        </el-table-column>
    </el-table>
    <el-pagination @@size-change="handleSizeChange"
                   @@current-change="handleCurrentChange"
                   :current-page="paginations.page_index"
                   :page-sizes="paginations.page_sizes"
                   :page-size="paginations.page_size"
                   :layout="paginations.layout"
                   :total="paginations.total">
    </el-pagination>
    <el-dialog title="题目编辑" :visible.sync="dialogFormVisible">
        <el-form :model="VExamBank">
            <el-form-item label="考试类型" :label-width="formLabelWidth">
                <el-select v-model="VExamBank.ExamType" placeholder="请选择考试类型">
                    <el-option v-for="item in LExamType" :key="item.Key" :label="item.Value" :value="item.Key"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="题目专业" :label-width="formLabelWidth">
                <el-input v-model="VExamBank.TopicMajor" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="题目等级" :label-width="formLabelWidth">
                <el-input v-model="VExamBank.TopicLevel" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="题目类型(1单选题2多选题3问答题)" :label-width="formLabelWidth">
                <el-input v-model="VExamBank.TopicType" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="题目内容" :label-width="formLabelWidth">
                <el-input v-model="VExamBank.TopicTitle" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="题目图片" :label-width="formLabelWidth">
                <el-input v-model="VExamBank.TopicTitlePicNum" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="正确答案" :label-width="formLabelWidth">
                <el-input v-model="VExamBank.RightKey" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="答案解析" :label-width="formLabelWidth">
                <el-input v-model="VExamBank.Remark" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="选项A" :label-width="formLabelWidth">
                <el-input v-model="VExamBank.OptionA" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="选项A图片" :label-width="formLabelWidth">
                <el-input v-model="VExamBank.OptionAPicNum" autocomplete="off"></el-input>

            </el-form-item>

            @*<el-form-item v-if="VExamBank.OptionAPicNum" label="选项A图片" :label-width="formLabelWidth">
                    <img :src="~/Attachment/BankPic/12.png" />
                </el-form-item>*@

            @*<el-form-item label="选项A图片" :label-width="formLabelWidth">
                    <img v-bind:src="~/Attachment/BankPic/12.png"/>
                </el-form-item>*@
            @*<img v-if="VExamBank.OptionAPicNum.length>0" :src="~/Attachment/BankPic/12.png" />*@

            <el-form-item label="选项B" :label-width="formLabelWidth">
                <el-input v-model="VExamBank.OptionB" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="选项B图片" :label-width="formLabelWidth">
                <el-input v-model="VExamBank.OptionBPicNum" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="选项C" :label-width="formLabelWidth">
                <el-input v-model="VExamBank.OptionC" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="选项C图片" :label-width="formLabelWidth">
                <el-input v-model="VExamBank.OptionCPicNum" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="选项D" :label-width="formLabelWidth">
                <el-input v-model="VExamBank.OptionD" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="选项D图片" :label-width="formLabelWidth">
                <el-input v-model="VExamBank.OptionDPicNum" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="选项E" :label-width="formLabelWidth">
                <el-input v-model="VExamBank.OptionE" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="选项E图片" :label-width="formLabelWidth">
                <el-input v-model="VExamBank.OptionEPicNum" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="选项F" :label-width="formLabelWidth">
                <el-input v-model="VExamBank.OptionE" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="选项F图片" :label-width="formLabelWidth">
                <el-input v-model="VExamBank.OptionFPicNum" autocomplete="off"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @@click="dialogFormVisible = false">取 消</el-button>
            <el-button type="primary" @@click="handleSave('save')">确 定</el-button>
        </div>
    </el-dialog>

</div>
    <script src="~/Scripts/Vue/axios.js"></script>
    <script src="~/Scripts/Vue/Vue.js"></script>
    <script src="~/Scripts/elementUI/lib/index.js"></script>

    <script src="~/Scripts/Vue/polyfill.min.js"></script>
    <script type="text/javascript">
        new Vue({
            el: '#app',
            data: {
                LExamBank: [],
                VExamBank: {},
                LExamType: [],
                search: '',
                TypeName: '',
                dialogFormVisible: false,
                formLabelWidth: '120px',
                paginations: {
                    page_index: 1,
                    total: 0,
                    page_size: 5,
                    page_sizes: [5, 10, 15, 20],
                    layout: 'total, sizes, prev, pager, next, jumper'
                },
                allTableData: []
            },
            mounted: function () {
                this.getdata();
                this.getInfoList();
            },
            methods: {
                getdata: function () {
                    var _this = this;
                    axios.post('/PEMain/GetBankInfo').then(function (responese) {
                        _this.LExamBank = responese.data.LExamBank;
                        _this.LExamType = responese.data.LExamType;
                    })
                },
                getInfoList() {
                    var _this = this;
                    axios.post('/PEMain/GetBankInfo').then(res => {
                        const data = res.data.LExamBank;
                        this.allTableData = data;
                        this.setPaginations()
                    })
                },
                setPaginations() {
                    this.paginations.total = this.allTableData.length; //数据的数量
                    console.log(this.allTableData.length);
                    this.paginations.page_index = 1; //默认显示第一页
                    this.paginations.page_size = 5; //每页显示多少数据

                    //显示数据
                    this.tableData = this.allTableData.filter((item, index) => {
                        return index < this.paginations.page_size;
                    })
                },
                handleSizeChange(page_size) {
                    this.paginations.page_index = 1; //第一页
                    this.paginations.page_size = page_size; //每页先显示多少数据
                    this.tableData = this.allTableData.filter((item, index) => {
                        return index < page_size
                    })
                },
                handleCurrentChange(page) {

                    // 跳转页数
                    //获取当前页
                    let index = this.paginations.page_size * (page - 1);
                    //获取总数
                    let allData = this.paginations.page_size * page;

                    let tablist = [];
                    for (let i = index; i < allData; i++) {
                        if (this.allTableData[i]) {
                            tablist.push(this.allTableData[i])
                        }
                        this.LExamBank = tablist;
                    }
                },
                SearchinByTypeName() {
                    var _this = this;
                    axios.post('/PEMain/GetBankInfo', {
                        ExamType: _this.TypeName
                    }).then(function (res) {
                        _this.LExamBank = res.data.LExamBank;
                    });
                    _this.dialogFormVisible = false
                },
                handleEdit(ID) {
                    var _this = this;
                    axios.post('/PEMain/GetTopic', {
                        ID: ID
                    }).then(function (res) {
                        _this.VExamBank = res.data.VExamBank;
                    });
                    _this.dialogFormVisible = true;
                }, 
                handleSave() {
                    var _this = this;
                    var objs = {};
                    objs.VExamBank = _this.VExamBank;
                    axios.post('/PEMain/SaveBankInfo', {
                        model: objs
                    }).then(function (res) {
                        _this.allTableData = res.data.LExamBank;
                        this.VExamBank = {};
                        _this.setPaginations();


                    });
                    _this.dialogFormVisible = false
                },
                handleDelete(index) {
                    var _this = this;
                    var ID = index;
                    axios.post('/PEMain/DeleteBankInfo', {
                        ID: ID
                    }).then(function (res) {
                        _this.allTableData = res.data.LExamBank;
                        _this.setPaginations();
                        });
                  
                },
                createTopic() {
                    var _this = this;
                    this.VExamBank = {};
                    _this.dialogFormVisible = true;
                },
                handleSuccess(Result) {
                    console.log(Result, 43);
                },
                handleExcelSuccess(Result, LExamBank) {
                    console.log(Result,45454)
                    if (Result == 'success') {
                        var _this = this;
                        _this.LExamBank = LExamBank;
                        this.$message({
                            message: '恭喜你,上传成功',
                            type: 'success'
                        });
                    }
                    else {
                        this.$message.error('上传失败');
                    }
                }
            }
            

        })

    </script>

