@model advt.CMS.Models.ExamModel.ExamBankModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="app" style="margin-left:20px">
    <div style="width:100%;margin-top:30px;">

        <template>
            <el-breadcrumb separator="/" style="margin-bottom:20px">
                <el-breadcrumb-item>考试管理</el-breadcrumb-item>
                <el-breadcrumb-item>题库管理</el-breadcrumb-item>
            </el-breadcrumb>
        </template>

        <div style="float:left;margin-bottom:20px">
            <template>
                <el-input placeholder="考试类型" v-model="VSearchBnakData.ExamType" style="width:200px">
                </el-input>
                <el-input placeholder="考试科目" v-model="VSearchBnakData.ExamSubject" style="width:200px">
                </el-input>
                <el-input placeholder="题目等级" v-model="VSearchBnakData.ExamLevel" style="width:200px">
                </el-input>
                <el-input placeholder="考试专业" v-model="VSearchBnakData.ExamMajor" style="width:200px">
                </el-input>
                <el-input placeholder="考试内容" v-model="VSearchBnakData.ExamContent" style="width:200px">
                </el-input>
                <el-button slot="append" @@click="SearchinByTypeName">Search</el-button>
                <el-button @@click="createTopic">新增</el-button>
                <div style="margin-bottom:20px">
                    <div style="float:left;">
                        <el-upload class="upload-demo" style="margin-top:30px;"
                                   ref="upload"
                                   :multiple="false"
                                   :on-success="handleExcelSuccess"
                                   action="/PEMain/Upload_TEL_MASTER">
                            <el-button size="small" type="primary">EXCEL上传题库</el-button>
                        </el-upload>

                    </div>
                    <div style="float:left;margin-left:20px">
                        <a href="/Attachment/temp/Template/BankTemplate.xlsx">
                            <el-button size="small" type="primary" style="margin-top:30px">题库模板下载</el-button>
                        </a>
                    </div>
                    <div style="float:left;margin-left:20px">
                        <el-upload class="upload-demo" style="margin-top:30px"
                                   ref="upload"
                                   :multiple="false"
                                   :on-success="handleSuccess"
                                   action="/PEMain/Upload_BankPic">
                            <el-button size="small" type="primary">上传图片</el-button>
                        </el-upload>
                    </div>
                    <div style="float:left;margin-left:20px;margin-top:30px">
                        <a style="color:white" :href="'/PEMain/SignUpBankExcel?ExamType='+VSearchBnakData.ExamType+'&ExamSubject='+VSearchBnakData.ExamSubject+'&ExamMajor='+VSearchBnakData.ExamMajor+'&ExamLevel='+VSearchBnakData.ExamLevel+'&ExamContent='+VSearchBnakData.ExamContent">
                            <el-button size="small" type="primary">
                                导出
                            </el-button>

                        </a>
                    </div>
                    <div style="float:left;margin-left:20px;margin-top:30px">
                        <el-button size="small" type="primary" @@click="DeleteBank">
                            删除
                        </el-button>
                    </div>


                </div>

            </template>
        </div>




    </div>
    <div style="margin-top:20px;clear:both;">
        <template>
            <el-divider content-position="left" v-model="BankRemark">{{BankRemark}}</el-divider>
        </template>

        <el-table :data="allTableData.filter(data => !search || data.CreateDate.toLowerCase().includes(search.toLowerCase()))"
                  style="width: 100%;margin-top:20px " :default-sort="{prop: 'CreateDate', order: 'CreateUser'}" border @@selection-change="changeFun">
            <el-table-column type="selection">
            </el-table-column>
            <el-table-column label="考试类型"
                             prop="ExamType" sortable
                             width="180">
            </el-table-column>
            <el-table-column label="考试科目"
                             prop="ExamSubject" sortable
                             width="180">
            </el-table-column>
            <el-table-column label="题目专业"
                             prop="TopicMajor" sortable
                             width="180">
            </el-table-column>
            <el-table-column label="题目等级"
                             prop="TopicLevel" sortable
                             width="180">
            </el-table-column>
            <el-table-column label="题目类型"
                             sortable
                             width="180">
                <template slot-scope="scope">
                    <span> {{changeTopicType(scope.row.TopicType)}}</span>
                </template>

            </el-table-column>
            <el-table-column label="题目内容"
                             prop="TopicTitle" sortable
                             width="180">
            </el-table-column>
            <el-table-column align="right">
                <template slot="header" slot-scope="scope">

                    <el-input v-model="search"
                              size="mini"
                              placeholder="输入关键字搜索" />
                </template>

                <template slot-scope="scope">
                    <el-button size="mini"
                               @@click="handleEdit(scope.row.ID)">Edit</el-button>
                    <el-button size="mini"
                               type="danger"
                               @@click="handleDelete(scope.row.ID)">Delete</el-button>
                </template>

            </el-table-column>
        </el-table>
        <el-pagination @@size-change="handleSizeChange"
                       @@current-change="handleCurrentChange"
                       :current-page="paginations.page_index"
                       :page-sizes="paginations.page_sizes"
                       :page-size="paginations.page_size"
                       :layout="paginations.layout"
                       :total="paginations.total">
        </el-pagination>
    </div>

    <el-dialog title="题目编辑" :visible.sync="dialogFormVisible">
        <el-form :model="VExamBank">
            <el-form-item label="考试类型" :label-width="formLabelWidth">
                <el-select v-model="VExamBank.ExamType" placeholder="请选择考试类型">
                    <el-option v-for="item in LExamType" :key="item.Key" :label="item.Value" :value="item.Key"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="考试科目" :label-width="formLabelWidth">
                <el-select v-model="VExamBank.ExamSubject" placeholder="请选择考试类型">
                    <el-option v-for="item in ListSubjectName" :key="item.Key" :label="item.SubjectName" :value="item.SubjectName"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="题目专业" :label-width="formLabelWidth">
                <el-input v-model="VExamBank.TopicMajor" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="题目等级" :label-width="formLabelWidth">
                <el-input v-model="VExamBank.TopicLevel" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="题目类型" :label-width="formLabelWidth">
                <el-select v-model="VExamBank.TopicType">
                    <el-option v-for="item in LTopicType" :key="item.Key" :label="item.Value" :value="item.Key"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="题目内容" :label-width="formLabelWidth">
                <el-input v-model="VExamBank.TopicTitle" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="题目图片" :label-width="formLabelWidth">
                <el-input v-model="VExamBank.TopicTitlePicNum" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item v-if="VExamBank.TopicTitlePicNum" label="选项A图片" :label-width="formLabelWidth">
                <img :src="'/Attachment/BankPic/'+VExamBank.TopicTitlePicNum" />
            </el-form-item>
            <el-form-item label="正确答案" :label-width="formLabelWidth">
                <el-input v-model="VExamBank.RightKey" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="答案解析" :label-width="formLabelWidth">
                <el-input v-model="VExamBank.Remark" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="选项A" :label-width="formLabelWidth">
                <el-input v-model="VExamBank.OptionA" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="选项A图片" :label-width="formLabelWidth">
                <el-input v-model="VExamBank.OptionAPicNum" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item v-if="VExamBank.OptionAPicNum" label="选项A图片" :label-width="formLabelWidth">
                <img :src="'/Attachment/BankPic/'+VExamBank.OptionAPicNum" />
            </el-form-item>
            <el-form-item label="选项B" :label-width="formLabelWidth">
                <el-input v-model="VExamBank.OptionB" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="选项B图片" :label-width="formLabelWidth">
                <el-input v-model="VExamBank.OptionBPicNum" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item v-if="VExamBank.OptionBPicNum" label="选项B图片" :label-width="formLabelWidth">
                <img :src="'/Attachment/BankPic/'+VExamBank.OptionBPicNum" />
            </el-form-item>
            <el-form-item label="选项C" :label-width="formLabelWidth">
                <el-input v-model="VExamBank.OptionC" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="选项C图片" :label-width="formLabelWidth">
                <el-input v-model="VExamBank.OptionCPicNum" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item v-if="VExamBank.OptionCPicNum" label="选项C图片" :label-width="formLabelWidth">
                <img :src="'/Attachment/BankPic/'+VExamBank.OptionCPicNum" />
            </el-form-item>
            <el-form-item label="选项D" :label-width="formLabelWidth">
                <el-input v-model="VExamBank.OptionD" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="选项D图片" :label-width="formLabelWidth">
                <el-input v-model="VExamBank.OptionDPicNum" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item v-if="VExamBank.OptionDPicNum" label="选项D图片" :label-width="formLabelWidth">
                <img :src="'/Attachment/BankPic/'+VExamBank.OptionDPicNum" />
            </el-form-item>
            <el-form-item label="选项E" :label-width="formLabelWidth">
                <el-input v-model="VExamBank.OptionE" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="选项E图片" :label-width="formLabelWidth">
                <el-input v-model="VExamBank.OptionEPicNum" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item v-if="VExamBank.OptionEPicNum" label="选项E图片" :label-width="formLabelWidth">
                <img :src="'/Attachment/BankPic/'+VExamBank.OptionEPicNum" />
            </el-form-item>
            <el-form-item label="选项F" :label-width="formLabelWidth">
                <el-input v-model="VExamBank.OptionE" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="选项F图片" :label-width="formLabelWidth">
                <el-input v-model="VExamBank.OptionFPicNum" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item v-if="VExamBank.OptionFPicNum" label="选项F图片" :label-width="formLabelWidth">
                <img :src="'/Attachment/BankPic/'+VExamBank.OptionFPicNum" />
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <template>
                <el-button @@click="dialogFormVisible = false">取 消</el-button>
                <el-button type="primary" @@click="handleSave('save')">确 定</el-button>
            </template>
        </div>
    </el-dialog>

</div>
<script src="~/Scripts/Vue/axios.js"></script>
<script src="~/Scripts/Vue/Vue.js"></script>
<script src="~/Scripts/elementUI/lib/index.js"></script>

<script src="~/Scripts/Vue/polyfill.min.js"></script>
<script type="text/javascript">
    new Vue({
        el: '#app',
        data: {
            LExamBank: [],
            VExamBank: {},
            LExamType: [],
            VSearchBnakData: {},
            search: '',
            TypeName: '',
            ExamSubject: '',
            TopicLevel: '',
            ListTopicLevel: [],
            ListSubjectName: [],
            ListSearchSubject: [],
            BankRemark: '',
            dialogFormVisible: false,
            formLabelWidth: '120px',
            TopicTitle: '',
            TopicTitles:'',
            paginations: {
                page_index: 1,
                total: 0,
                page_size: 5,
                page_sizes: [5, 10, 15, 20],
                layout: 'total, sizes, prev, pager, next, jumper'
            },
            allTableData: [],
            LTopicType: [
                {
                    Key: '0',
                    Value: '单选'
                },
                {
                    Key: '1',
                    Value: '多选'
                },
                {
                    Key: '2',
                    Value: '问答'
                },
            ],
            checkBoxData: []

        },
        watch: {
         
        },
        mounted: function () {
            this.getdata();
            //this.getInfoList();
        },
        methods: {
            changeFun(val) {
                var _this = this;
                _this.checkBoxData = val;
            },
            getdata: function () {
                var _this = this;
                axios.post('/PEMain/GetBankInfo', {
                    VSearchBnakData: _this.VSearchBnakData
                }).then(function (responese) {
                    _this.allTableData = responese.data.LExamBank;
                    _this.LExamType = responese.data.LExamType;
                    _this.BankRemark = responese.data.BankRemark;
                    _this.setPaginations();
                })

            },
            DeleteBank() {
                var _this = this;
                axios.post('/PEMain/DeleteBankInfo', {
                    ID: 0,
                    TypeName: _this.TypeName,
                    ExamSubject: _this.ExamSubject,
                    TopicLevel: _this.TopicLevel
                }).then(function (res) {
                    _this.$alert('已成功删除' + res.data.Result + "条记录", '删除信息', {
                        confirmButtonText: '确定'
                    });
                    _this.allTableData = res.data.LExamBank;
                    _this.setPaginations();
                });
            },
            setPaginations() {
                var _this = this;
                _this.paginations.total = _this.allTableData.length; //数据的数量
                console.log(_this.allTableData.length);
                _this.paginations.page_index = 1; //默认显示第一页
                _this.paginations.page_size = 5; //每页显示多少数据

                //显示数据
                _this.allTableData = _this.allTableData.filter((item, index) => {
                    return index < _this.paginations.page_size;
                })
            },
            handleSizeChange(page_size) {
                var _this = this;
                _this.paginations.page_index = 1; //第一页
                _this.paginations.page_size = page_size; //每页先显示多少数据
                _this.allTableData = _this.allTableData.filter((item, index) => {
                    return index < page_size
                })
            },
            handleCurrentChange(page) {
                var _this = this;
                axios.post('/PEMain/GetBankInfo', {
                    VSearchBnakData: _this.VSearchBnakData
                }).then(function (res) {
                    _this.allTableData = res.data.LExamBank;
                    let index = _this.paginations.page_size * (page - 1);
                    //获取总数
                    let allData = _this.paginations.page_size * page;
                    console.log(_this.allTableData, index, allData);
                    let tablist = [];
                    for (let i = index; i < allData; i++) {
                        if (_this.allTableData[i]) {
                            tablist.push(_this.allTableData[i]);
                        }
                    }
                    _this.allTableData = tablist;
                });
            },
            SearchinByTypeName() {
                var _this = this;
                axios.post('/PEMain/GetBankInfo', {
                    VSearchBnakData: _this.VSearchBnakData
                }).then(function (res) {
                    _this.allTableData = res.data.LExamBank;
                    _this.BankRemark = res.data.BankRemark;
                    _this.setPaginations();
                });
                _this.dialogFormVisible = false
            },
            handleEdit(ID) {
                var _this = this;
                axios.post('/PEMain/GetTopic', {
                    ID: ID
                }).then(function (res) {
                    _this.VExamBank = res.data.VExamBank;
                });
                _this.dialogFormVisible = true;
            },
            handleSave() {
                var _this = this;
                var objs = {};
                objs.VExamBank = _this.VExamBank;
                axios.post('/PEMain/SaveBankInfo', {
                    model: objs
                }).then(function (res) {
                    _this.allTableData = res.data.LExamBank;
                    this.VExamBank = {};
                    _this.setPaginations();
                });
                _this.dialogFormVisible = false
            },
            handleDelete(index) {
                var _this = this;
                var ID = index;
                axios.post('/PEMain/DeleteBankInfo', {
                    ID: ID
                }).then(function (res) {
                    _this.allTableData = res.data.LExamBank;
                    _this.setPaginations();
                });

            },
            createTopic() {
                var _this = this;
                this.VExamBank = {};
                _this.dialogFormVisible = true;
            },
            handleSuccess(Result) {
                console.log(Result, 43);
            },
            handleExcelSuccess(Result, LExamBank) {
                var _this = this;
                _this.allTableData = Result.LExamBank;
                _this.setPaginations();
                this.$message({
                    message: Result.Result,
                    type: 'success'
                });
            },
            changeTopicType(ids) {
                if (ids == "0") {
                    return '单选'
                }
                else if (ids == "1") {
                    return '多选'
                }
                else if (ids == "2") {
                    return '问答'
                }
            }
        }


    })
</script>

