<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MembershipWebserviceSoap"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://member.advantech.com/MembershipWebservice.asmx" binding="basicHttpBinding" bindingConfiguration="MembershipWebserviceSoap" contract="MembershipWebservice.MembershipWebserviceSoap" name="MembershipWebserviceSoap"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
